#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #eee;
  z-index: 1;

  &.section-left {
    left: 0;
  }
  &.section-right {
    right: 0;
  }
}

.loaded {
  visibility: hidden;
  transform: translateY(-100%);
  transition:
    transform 0.3s 1s ease-out,
    visibility 0.3s 1s ease-out;

  & .loader {
    opacity: 0;
  }  

  .loader-section {
    &.section-left {
      transform: translateX(-100%);
      transition: transform 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
    &.section-right {
      transform: translateX(100%);
      transition: transform 0.5s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }
}