* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: rgb(0, 0, 0);
  background-color: #F6F6F7;
}

a {
  color: inherit;
  text-decoration: none;
}
