.main {
  height: 100%;
  padding: 6rem 0;
  width: 840px;
  max-width: 80%;
  margin: 0 auto;
}

.card {
  & span {
    display: inline-block;
    transition: transform 200ms;
  }

  & h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }

  & p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
    text-wrap: balance;
  }
}
