.user-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  & .info {
    flex: 1;
    padding: 15px 2px;
    display: flex;
    flex-direction: column;

    & .name {
      font-size: 24px;
      margin-bottom: 10px;
    }

    & .describe {
      flex: 1;
    }

    & .social {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    & .icon {
      padding: 6px;
      border: 1px solid #eee;
      border-radius: 4px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}