.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .image {
  color: transparent;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.container .one-word {
  width: 100%;
  display: flex;
  flex-direction: column;

  & .content {
    padding: 20px 10px;
  
    & .from {
      text-align: right;
      margin-top: 10px;
    }
  }
}

.container .btns {
  margin-top: 20px;
  text-align: center;

  & .refresh {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border: 1px solid #eee;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
  }
}